.searcnResultBlock {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 800px;
    .countryBlock{
        margin: 10px;
        position: relative;
    }

    .resultBtn {
        margin-top: 4px;
    }
    .resultFlags{
        width: 20px;
        height: 15px;
    }
    .countryName{
        margin-left: 5px;
        margin-bottom: 3px;
    }
    .toTop{
        transition:  1s;
    }

}